{% extends "layout.html" %}
{% block title %}Sidan kunde inte hittas{% endblock %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh; display: flex; justify-content: center;">
    <div class="col-10 border p-3 text-center" style="max-width: 100%; padding: 0; background-color: rgba(255, 255, 255, 0.9); margin: 0;">
        <h1>404 - Sidan kunde inte hittas</h1>
        <a href="/start" class="btn btn-primary">Tillbaka till startsidan</a>
    </div>
</div>
{% endblock %}
