{% extends "layout.html" %}
{% block title %}Form{% endblock %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh; display: flex; justify-content: center;">
    <div class="col-10 border p-3 text-center" style="max-width: 100%; padding: 0; background-color: rgba(255, 255, 255, 0.9); margin: 0;">
        <h1>Vad kostar elen?</h1>
        <form action="/elpriser" method="post">
            <div>
                <label for="selectedDate">Välj ett datum:</label><br/>
                <input type="date" id="selectedDate" name="selectedDate">
            </div>
            <label for="price">Prisklass:</label><br/>
            <input type="text" id="price" name="PRISKLASS"><br/>
            <button type="submit" class="btn btn-primary mt-3">Kolla priset!</button>
        </form>

        {% if year %}
        <div>
            <h3>Valt datum:</h3>
            <p>Ogiltig inmatning.</p>
            <p>Som tidigast kan du söka från 2022-11-01 och som senast en dag fram i tiden.</p>
            <p>Giltiga Prisklasser:</p>
            <ul>SE1 = Luleå / Norra Sverige</ul>
            <ul>SE2 = Sundsvall / Norra Mellansverige</ul>
            <ul>SE3 = Stockholm / Södra Mellansverige</ul>
            <ul>SE4 = Malmö / Södra Sverige</ul>
        </div>
        {% else %}
        {% if data %}
        <div>
            <h3>Elpriser:</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Prisklass</th>
                    <th>Pris (SEK/kWh)</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in data %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.price_class }}</td>
                    <td>{{ entry.price }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
