{% extends "layout.html" %}
{% block title %}Elpriser{% endblock %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh; display: flex; justify-content: center;">
    <div class="col-10 border p-3 text-center" style="max-width: 100%; padding: 0; background-color: rgba(255, 255, 255, 0.9); margin: 0;">
        <!-- Huvudrubriken för sidan som visas högst upp. -->
        <h1>Vad kostar elen?</h1>
        <!-- Formulär där användaren får skriva in datum från en kalender och sedan prisklass. -->
        <form action="/elpriser" method="post">
            <div>
                <label for="selectedDate">Datum:</label><br/>
                <input type="date" id="selectedDate" name="selectedDate">
            </div>
            <label for "price">Prisklass:</label><br/>
            <input type="text" id="price" name="PRISKLASS"><br/>
            <button type="submit" class="btn btn-primary mt-3">Kolla priset!</button>
        </form>
        <!-- Visa det datum och prisklass som har valts. -->
        {% if year %}
        <div>
            <h5>Valt datum:</h5>
            <p>{{ selected_date }} med prisklass {{ price }}</p>
        </div>
        {% endif %}
        {% if data %}
        <!-- Visar prisinformation och tillgänglig data. -->
        <div>
            <!-- Information om vad som finns på sidan som visas för användaren -->
            <h5>Prisinformation:</h5>
            <p>Håll musen över valt tidsspann för mer information!</p>
            <div class="bar-chart">
                <div class="timeline">
                    <!-- Itererar genom data och skapar en tidslinje för varje datapunkt -->
                    {% for price_info in data %}
                    <!-- Gör det möjligt för användaren att hålla musen över staplarna för att se information om priser -->
                    <div class="timeline-item">
                        <div class="bar-fill" style="height: {{ price_info.SEK_per_kWh * 450 }}px;"
                             title="SEK per kWh: {{ price_info.SEK_per_kWh }}.
                             EUR per kWh: {{ price_info.EUR_per_kWh }}.
                             EXR: {{ price_info.EXR }}">
                        </div>
                        <div class="timeline-label" title="Tid: {{ price_info.time_start[11:16] }} {{ price_info.time_end[11:16] }}">
                            {{ price_info.time_start[11:16] }} {{ price_info.time_end[11:16] }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<style>
    .bar-chart {
        display: flex;
        flex-direction: column;
    }

    .timeline {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .timeline-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-label, .bar-fill {
        width: 44px;
        text-align: center;
    }

    .bar-fill {
        background-color: #007bff;
        width: 20px;
    }
</style>
{% endblock %}

